* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #C1E899;
    font-family: Arial, sans-serif;
}

header {
    background:  #C1E899;
    padding: 0.1px 30px; 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

/* Narandzasta navigaciona traka */
.navbar {
    background-color: #EB9C35;
    padding: 15px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Irish Grover', cursive;
    color: #55883B;
}

.navbar .search-bar {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 0 20px;
}


.search-bar input {
    width: 60%;
    padding: 8px;
    border: none;
    border-radius: 20px;
    outline: none;
    font-size: 16px;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}


.navbar a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}


.navbar a:hover {
    background: #EB9C35;
    border-radius: 5px;
}

.navbar .left-section {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar .nav-links {
    display: flex;
    gap: 15px;
}

.navbar .nav-links a {
    text-decoration: none;
    color: #17411D;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 12px;
    transition: background 0.3s;
}

/* Stilizacija ikonica */
.navbar .icons {
    display: flex;
    gap: 15px;
    align-items: center;
    cursor: pointer;
}

.navbar .icons i {
    font-size: 20px;
    color: white;
    cursor: pointer;
}


main {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex: 1;
}

.login-box {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

.login-box h2 {
    margin-bottom: 10px;
}

.login-box p {
    margin-bottom: 20px;
}

.input-group {
    text-align: left;
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.password-wrapper {
    position: relative;
}

.password-wrapper span {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

button {
    width: 100%;
    padding: 12px;
    background: #17411D;
    color: #fff;
    border: none;
    border-radius: 25px;
    margin-top: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #333;
}

.forgot {
    display: block;
    margin-top: 15px;
    font-size: 13px;
    color: #555;
}


/* Footer stilovi */
footer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    background: #55883B;
    padding: 20px;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 14px;
    margin-top: auto;
    transform: translateY(100%); /* Pocetno sakriven */
    transition: transform 0.3s ease-in-out;
}

.footer-section {
    flex: 1;
    max-width: 300px;
}

.footer-center {
    text-align: center;
}

.footer-center h3 {
    font-family: 'Irish Grover', cursive;
    color: #EB9C35;
    font-size: 54px;
    text-align: center;
}

.footer-section h4 {
    margin-bottom: 10px;
    border-bottom: 2px solid #fff;
    display: inline-block;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    margin: 5px 0;
}

footer a {
    text-decoration: none;
    color: #222;
}

footer a:hover {
    text-decoration: underline;
}
